<html ng-app='myApp'>
<head>
	<meta charset="UTF-8"> 
	<title>Your Shopping Cart</title>
</head>
<body ng-controller='CartController'>
	<h1>Your order</h1>
	<div ng-repeat='item in items'>
		<span>{{item.title}}</span>
		<input ng-model='item.quantity'>
		<span>{{item.price | currency}}</span>
		<span>{{item.price * item.quantity | currency}}</span>
		<button ng-click='remove($index)'>Remove</button>
	</div>
	<hr/>
	<form ng-submit='add()'>
		<span>Title</span> <input type='text' ng-model='titleNew' size='30'>
		<span>Price</span> <input type='text' ng-model='priceNew' size='10'>
		<input type='submit' value='Add'>
	</form>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-resource.min.js"></script>
	<script type="text/javascript">
		var app = angular.module('myApp', ['ngRoute']);
	</script>
	<script type="text/javascript" src="controllers.js"></script>
</body>
</html>